<ActionBar>
    <Label text="Regulations"></Label>
</ActionBar>

<StackLayout class="btn-salt"  orientation="horizontal" padding="5" (tap)="onTappedSalt()" >
    <Image width="10%" height="100%" marginRight="10"></Image>
    <Label text="Saltwater Fishing" verticalAlignment="center"></Label>
 </StackLayout>
 <StackLayout class="btn-fresh"  orientation="horizontal" padding="5" (tap)="onTappedFresh()" >
    <width="10%" height="100%" marginRight="10"></Image>
    <Label text="Freshwater Fishing" verticalAlignment="center"></Label>
 </StackLayout>
 <StackLayout class="btn-license"  orientation="horizontal" padding="5" (tap)="onTappedLicense()" >
    <width="10%" height="100%" marginRight="10"></Image>
    <Label text="Licenses" verticalAlignment="center"></Label>
 </StackLayout>