<ActionBar>
    <Label text="Map"></Label>
</ActionBar>

<GridLayout rows="40, *" class="page">
    
    <GridLayout columns="*,*,*,*,auto,auto" column-gap="2.5" horizontalalignment="center" width="100%">
        <Label id="buoyButton" col= "0" text="Buoys" textwrap="false" fontsize="12pt" textalignment="center"
            style="background: rgb(151, 151, 151)" (tap)="toggleBuoyMarkers()">
        </Label>
        <Label col= "1" text="Waves" textwrap="false" fontsize="12pt" textalignment="center"
            style="background: rgb(151, 151, 151)" (tap)="toggleWaves()">
        </Label>
        <Label col= "2" text="Wind" textwrap="false" fontsize="12pt" textalignment="center" 
            style="background: rgb(151, 151, 151);" (tap)="toggleWind()">
        </Label>
        <Label col= "3" text="Reefs" textwrap="false" fontsize="12pt" textalignment="center" 
            style="background: rgb(151, 151, 151);" (tap)="toggleReefs()">
        </Label>
        <Label col= "4" text="Temperature" textwrap="false" fontsize="12pt" textalignment="center"
            style="background: rgb(151, 151, 151);" (tap)="toggleWaterTemp()">
        </Label>
        <Label col= "5" text="Chlorophyll" textwrap="false" fontsize="12pt" textalignment="center" 
            style="background: rgb(151, 151, 151);" (tap)="toggleChlorophyll()">
        </Label>
    </GridLayout>

    <!-- Give the Content View 'MapContainer' ID and use ViewChild to access it in TypeScript-->
    <ContentView row="1" height="100%" width="100%" id="MapContainer">
        <!-- <Mapbox
            accessToken="sk.eyJ1IjoiYXdpbWFwcCIsImEiOiJjazkwMWxtamEwMDBhM2hwdXF5dmlkaTlpIn0.4we_OHFl1VMXDbpJ0tq48A"
            mapStyle="mapbox://styles/awimapp/ck901qzms0xwq1iqgdg61jijj"
            latitude="24.5" 
            longitude="-90"
            hideCompass="true" 
            zoomLevel="3.5" 
            showUserLocation="true" 
            (mapReady)="onMapReady($event)">
        </Mapbox> -->
    </ContentView>

</GridLayout>
