<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <!--
                Note TabStripItem will only accept single Label and/or single Image elements that it
                will "adopt"; any other layout elements you try to specify will be ignored
            -->
            <Label text="Map"></Label>
            <Image src="font://&#xf279;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Weather"></Label>
            <Image src="font://&#xf0c2;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Safety"></Label>
            <Image src="font://&#xf02d;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Regulations"></Label>
            <Image src="font://&#xf46d;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="browseTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="searchTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="regulationsTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
