<ActionBar>
  <Label text="Safety"></Label>
</ActionBar>

<!-- Declaration of buttons for safety tab-->
<!-- <GridLayout>
<StackLayout row="5" col="2">
  <div class="block-display">

    <Button text="Personal Flotation Devices" tap="btnPressed" class="btn btn-primary btn-active"></Button>
    <Button text="Flame Arrestors" tap="onTap"></Button>
    <Button text="Emergency Cut-Off Switch" tap="onTap($event)"></Button>
    <Button text="Ditch Bags" tap="onTap($event)"></Button>
    <Button text="Federally Controlled Waters" tap="onTap($event)"></Button>
    <Button text="Fire Extinguishers" tap="onTap($event)"></Button>
    <Button text="Diver's Flag" tap="onTap($event)"></Button>
    <Button text="Lights and Sound Devices" tap="onTap($event)"></Button>
    <Button text="Visual Distress Signals" tap="onTap($event)"></Button>
    <Button text="Coast Guard Emergency Contact" tap="onTap($event)"></Button>

  </div>
</StackLayout>
</GridLayout> -->

<GridLayout>
  <ListView [items]="items">
      <ng-template let-item="item">
          <StackLayout>
              <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
          </StackLayout>
      </ng-template>
  </ListView>
</GridLayout>


<!-- different menu option
<GridLayout class="page__content">
    <label for="Safety"></label>

<select id="safetyTab">
  <option value="personalFlotDev">Personal Flotation Devices</option>
  <option value="flameArrestors">Flame Arrestors</option>
  <option value="emergCutSwitch">Emergency Cut-Off Switch</option>
  <option value="ditchBags">Ditch Bags</option>
  <option value="fedControllWater">Federally Controlled Waters</option>
  <option value="fireExting">Fire Extinguishers</option>
  <option value="diverFlag">Diver's Flag</option>
  <option value="lightSoundDevices">Lights and Sound Devices</option>
  <option value="visualDistressSignal">Visual Distress Signals</option>
  <option value="coastGuardEmergContact">Coast Guard Emergency Contact</option>
</select>

</GridLayout> -->